*{
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
:root {
  --primaryBackground: #111111;
  --secondaryBackground: #191a1a;
  --primaryColor: #affaf4;
  --greyDark: #7d8792;
  --headingColor: #1f1f1f;
  --white: #fff;
  --black: #000;
  --sliver: #bac8d3;
  --btnDelete: #4e0000d0;
  --red:#fd2222;
}
h4{
  font-size: 20px;
  color: var(--white);
}
p{
  color: var(--primaryColor);
  font-size: 17px;
  margin-left: 6px;
}

select{
  color:var(--primaryColor);
  background-color:var(--headingColor);
  border: none;
  border-bottom: 1px solid var(--primaryColor);
  cursor: pointer;
  padding: 2px;
  margin-top: 3px;
}
option{
  background-color:var(--secondaryBackground);
  color: var(--primaryColor);
}
button:hover{
  background-color: var(--greyDark);
  color: var(--white);
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width:500px) {
  /* select{
  font-size: 6px;   
}
option{
  font-size: 10px;
} */
}