
.containerCard{
  width: 700px;
  height: auto;
 display: flex;
 flex-wrap: wrap;
background-color:var(--secondaryBackground);
flex-direction: column;
align-items: center;
margin: 0 auto;
margin-top: 10px;
margin-bottom: 10px;
}
.imagenCard{
    width: 500px;
  height: 300px;
  padding-left: 50px;
  object-fit: cover;
}
.infosCard{
  display: flex;
  justify-content: center;
  align-items: baseline;
} 

.titleCard{
  text-decoration: none;
  color: var(--white);
  font-size: 30px;
  font-family: serif;

}
@media screen and (max-width: 500px) {
  .containerCard{
  width:100%;
  margin-top: 10px;  
  }
  .imagenCard{
      width: 300px;
    height: 200px;
    padding-left: 20px;
  }
  .titleCard{
    font-size: 20px;  
  }
}