.contenedorMenor{
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: auto;
    background-color: var(--secondaryBackground);
    border-radius: 3px;
}
.contenedorMenor button,
.contenedorMenor textarea,
.contenedorMenor input {
  width: 100%;
  padding: 20px;
  border: none;
  outline: none;
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}
.contenedorMenor input:hover ,
.contenedorMenor button:hover{
    box-sizing:border-box;
    background-color: var(--greyDark);
    color: var(--primaryColor);
  }
.contenedorMenor label{
    color:var(--white);
    font-size: 20px;
}
.botonDelete{
    background-color:var(--btnDelete);
    color: var(--white);
    border-radius: 6px;
    border:1px solid var(--sliver);
    padding: 5px;
    font-size: 10px;
    margin-left: 5px;
}
.inputsPYG{
    display: flex;
    align-items: center;
    background-color:var( --secondaryBackground);
}
.error{
color:var(--red);
}
@media screen and (max-width: 500px) {
    .contenedorMenor{
        width: 100%;
    }
}