.filtros{
   height: 50px;
   width: 100%;
   top: 0;
   left: 0;
   background-color:var(--secondaryBackground);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 30px 30px;
   box-sizing: border-box;
}

.titleFilter{
   color:var(--white);
   display: flex;
   flex-direction: column;
   align-items: stretch;
   font-size: 20px;
   height: 3px;
   margin-top: 0px ; 
}
.botonFilter{
   background-color: var(--secondaryBackground);
   color:var(--primaryColor);
   border-radius: 6px;
   border:1px solid var(--primaryColor);
}
.botonRefresh{
   background-color: var(--secondaryBackground);
   color:var(--primaryColor);
   border-radius: 6px;
   border:1px solid var(--primaryColor);
   padding: 5px;
   font-size: 18px;
}
.SRC{
   height: 50px;
   width: 100%;
   top: 0;
   left: 0;
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 30px 30px;
   box-sizing: border-box;
}
.errorHome{
   color:var(--white);
   font-size: 20px;
}

@media screen and (max-width: 500px) {   
   .filtros{
      flex-direction: column;
      width: 100%;
      height: auto;
      padding: 2px;
   }
   .SRC{
      width: 100%;
   }
   .titleFilter{
      font-size: 10px;
      margin: 10px;
   }
   .botonRefresh{
   font-size: 10px;   
   }
 }