.titleLanding{
    font-size: 50px;
    color:var(--primaryColor);
    font-family: serif;
}

.buttonLanding{
	position: relative;
	display: block;
	padding: 20px 40px;
	border-radius: 6px;
	text-align: center;
	font-weight: bold;
	max-width: 320px;
	height: 65px;
	margin-bottom: 60px;
	overflow: hidden;
	color:var(--white);
	cursor: pointer;
	letter-spacing: 2px;
	box-shadow:inset 0 0 0 1px var(--headingColor);
	text-decoration: none;
	transition: all ease 0.5s;
	background:var(--secondaryBackground);
    font-size: 30px;
    font-family: serif;
	margin: 0 auto;
}
.buttonLanding:after,
.buttonLanding:before{
	width: 80px;
	height: 200px;
	content: '';
	display: block;
	background:var(--greyDark);
	transform: rotate(45deg);
	top: -60px;
	position: absolute;
	transition: none;
	right:-45%;
	cursor: pointer;
}
 
.buttonLanding:before{
	left: -48%;
}
.buttonLanding:hover{
	text-shadow: 0 1px 1px var(--black);
	background:var(--primaryColor)
}
 
.buttonLanding:hover:after,
.buttonLanding:hover:before{
	transform: rotate(45deg), scaleX(130%);
	background:var(--secondaryBackground);
	transition: all ease 0.5s;
}
 
.buttonLanding:hover:after{
	right: 130%;
}
 
.buttonLanding:hover:before{
	left: 130%;
}
.algo{
	text-decoration: none;
 }

@media screen and (max-width: 500px) {
	.titleLanding{
		font-size: 40px;
	}
}