.paginationBttns {
    padding: 10px;
    margin: 1px;
    border-radius: 5px;
    border: 1px solid var(--greyDark);
    color:var(--primaryColor);
    background-color: var(--secondaryBackground);
  }
  .paginationBttns:hover{
     background-color: var(--greyDark);
     color: var(--white);
  }
  .paginationBttns:active{
    background-color:var(--primaryColor);
    color: var(--white);

  }
  .paginationBttns:focus{
    background-color:var(--primaryColor);
    color: var(--white);

  }
  .PrevNextPagination{
    padding: 10px;
    margin: 1px;
    border-radius: 5px;
    border: 1px solid var(--primaryColor);
    color:var(--primaryColor);
    background-color:var(--secondaryBackground);
  }
  .PrevNextPagination:hover{
    background-color:var(--secondaryBackground);
    color:var(--white);
 }