.inputSearch{
    color: white;
    background-color:var(--secondaryBackground);
    border-radius: 6px;
    border:1px solid var(--primaryColor);
    font-size: 15px;
}
.botonSearch{
    background-color:var(--secondaryBackground);
    color:var(--white);
    border-radius: 6px;
    border:1px solid var(--primaryColor);
    font-size: 15px;
}
.errorSearch{
    color:var(--red);
    font-size: 20px;
    position:absolute;
}
@media screen and (max-width: 500px) {
    .errorSearch{
        font-size: 12px;
    }
    .inputSearch{
        font-size: 11px;
    }
    .botonSearch{
    font-size: 12px;    
    }
}