.inputSearch{
    color: white;
    background-color: rgba(67, 114, 116, 0.705);
    border-radius: 6px;
    border-color: #000236a1;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}
.botonSearch{
    background-color: rgba(67, 109, 110, 0.644);
    color:white;
    border-radius: 6px;
    border-color: #000236a1;
font-size: 15px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}
.errorSearch{
    color: red;
    /* background-color: rgba(0, 0, 0, 0.479); */
    font-size: 20px;
    position:absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}
@media screen and (max-width: 500px) {
    .errorSearch{
        color: red;
        /* background-color: rgba(0, 0, 0, 0.479); */
        font-size: 12px;
        position:absolute;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
    }
}